<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - T-Reservation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/T_Reservation.styles.css" asp-append-version="true" />
</head>
<body class="bg-image" style="background-image: url('https://us.123rf.com/450wm/yulia87/yulia871604/yulia87160400058/55784533-vector-patr%C3%B3n-transparente-de-siluetas-de-cocina-sobre-fondo-rojo.jpg?ver=6');">
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 navbar-light bg-danger">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                         @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Administrador"))
                            {
                                <li class="nav-item">

                                    <a class="navbar-brand" text-dark" asp-area="" asp-controller="Restaurantes" asp-action="GraficoPorFecha">T-Reservation</a>

                                </li>
                                <li class="nav-item">

                                    <a class="navbar-brand" text-dark" asp-area="" asp-controller="Restaurantes" asp-action="GraficoPorFecha">Metricas</a>

                                </li>
                                <li class="nav-item">

                                    <a class="navbar-brand" text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>

                                </li>
                                <li class="nav-item">

                                    <a class="navbar-brand" text-dark" asp-area="" asp-controller="Empleados" asp-action="Index">Empleados</a>

                                </li>

                                <li class="nav-item">

                                    <a class="navbar-brand" text-dark" asp-area="" asp-controller="Menus" asp-action="Index">Productos</a>

                                </li>
                               
                                <li class="nav-item">

                                    <a class="navbar-brand" text-dark" asp-area="" asp-controller="Reservas" asp-action="Index">Reservaciones</a>

                                </li>

                                <li class="nav-item">

                                    <a class="navbar-brand" text-dark" asp-area="" asp-controller="Restaurantes" asp-action="Index">Restaurantes</a>

                                </li>
                                <li class="nav-item">

                                    <a class="navbar-brand" text-dark" asp-area="" asp-controller="Login" asp-action="Login">Cerrar Sesión</a>
                                </li>

                            }
                        }
                        @if (User.IsInRole("Empleado"))
                        {
                            <li class="nav-item">

                                <a class="navbar-brand" text-dark" asp-area="" asp-controller="Restaurantes" asp-action="GraficoPorFecha">T-Reservation</a>

                            </li>
                            <li class="nav-item">

                                <a class="navbar-brand" text-dark" asp-area="" asp-controller="Restaurantes" asp-action="GraficoPorFecha">Metricas</a>

                            </li>
                            <li class="nav-item">

                                <a class="navbar-brand" text-dark" asp-area="" asp-controller="Restaurantes" asp-action="Index">My restaurante</a>

                            </li>
                            <li class="nav-item">

                                <a class="navbar-brand" text-dark" asp-area="" asp-controller="Menus" asp-action="Index">Productos</a>

                            </li>
                            <li class="nav-item">

                                <a class="navbar-brand" text-dark" asp-area="" asp-controller="Reservas" asp-action="Index">Reservaciones</a>

                            </li>
                           
                            <li class="nav-item">

                                <a class="navbar-brand" text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>

                            </li>
                            <li class="nav-item">

                                <a class="navbar-brand" text-dark" asp-area="" asp-controller="Login" asp-action="Login">Cerrar Sesión</a>
                            </li>

                        }

                           @if (User.IsInRole("Cliente"))
                        {
                            <li class="nav-item">

                                <a class="navbar-brand" text-dark" asp-area="" asp-controller="Home" asp-action="CatalogoRestaurante">T-Reservation</a>

                            </li>
                            <li class="nav-item">

                                <a class="navbar-brand" text-dark" asp-area="" asp-controller="Home" asp-action="CatalogoRestaurante">Restaurantes</a>

                            </li>
                            <li class="nav-item">

                                <a class="navbar-brand" text-dark" asp-area="" asp-controller="Home" asp-action="CatalogoMenu">Productos</a>

                            </li>
                            <li class="nav-item">

                                <a class="navbar-brand" text-dark" asp-area="" asp-controller="Reservas" asp-action="Index">Reservaciones</a>

                            </li>


                            <li class="nav-item">

                                <a class="navbar-brand" text-dark" asp-area="" asp-controller="Login" asp-action="Login">Cerrar Sesión</a>
                            </li>
                        }
                        
                            <li>
                            <a class="navbar-brand" tex-dark">@User.Identity.Name</a>
                            </li>
                        
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
     
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    
</body>
</html>
