@model T_RESERVATION.EntidadesNegocio.Menu

@{
    ViewData["Title"] = "Edit";
}
<div class="card">
    <div class="card-body">

<h1 class="card-title">Editar producto</h1>



<form asp-action="Edit" enctype="multipart/form-data" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group col-md-6">
                <label asp-for="Producto" class="control-label"></label>
                <input asp-for="Producto" class="form-control" />
                <span asp-validation-for="Producto" class="text-danger"></span>
            </div>
            <div class="form-group col-md-7">
                <label asp-for="Imagen" class="control-label"></label>
                
                <input type="file" id="fileImagen" onchange="mostrarVistaPrevia()" accept="image/*" asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>

            <div class="col-7">
                @if (Model.Imagen != null && Model.Imagen.Length > 0)
                {
                    <!-- Muestra la imagen actual si existe -->
                    <img class="bloque d mx-auto redondeado" src="data:image/jpg;base64,@(Convert.ToBase64String(Model.Imagen))" width="75" height="75">
                }
                else
                {
                    <!-- Muestra una imagen predeterminada si no hay imagen actual -->
                    <img id="imagenPrevia" src="~/img/default.jpg" alt="Vista previa de la imagen" style="max-width: 200px; max-height: 200px;">
                }
            </div>

    <div class="form-group col-md-6">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
    <div class="form-group col-md-6">
                <label asp-for="NotaEspecial" class="control-label"></label>
                <input asp-for="NotaEspecial" class="form-control" />
                <span asp-validation-for="NotaEspecial" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
                <label asp-for="RestauranteId" class="control-label">Restaurante</label>
                <select asp-for="RestauranteId" class="form-control" asp-items="ViewBag.RestauranteId"></select>
                <span asp-validation-for="RestauranteId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-dark" />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>

            </div>
        </form>

<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function mostrarVistaPrevia() {
            var input = document.getElementById('fileImagen');
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('imagenPrevia').src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]); // Convierte el archivo a una URL base64
            }
        }
    </script>
}
    </div>
</div>