@model T_RESERVATION.EntidadesNegocio.Restaurante

@{
    ViewData["Title"] = "Edit";
}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Editar</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdRestaurante" />
            <div class="form-group col-md-6">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
             <div class="form-group col-md-7">
                <label asp-for="Imagen" class="control-label"></label>

                <input type="file" id="fileImagen" onchange="mostrarVistaPrevia()" accept="image/*" asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>

            <div class="col-7">
                @if (Model.Imagen != null && Model.Imagen.Length > 0)
                {
                    <!-- Muestra la imagen actual si existe -->
                    <img class="bloque d mx-auto redondeado" src="data:image/jpg;base64,@(Convert.ToBase64String(Model.Imagen))" width="95" height="95">
                }
                else
                {
                    <!-- Muestra una imagen predeterminada si no hay imagen actual -->
                    <img id="imagenPrevia" src="~/img/default.jpg" alt="Vista previa de la imagen" style="max-width: 200px; max-height: 200px;">
                }
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="EmpleadoId" class="control-label">Empleado</label>
                <select asp-for="EmpleadoId" class="form-control" asp-items="ViewBag.EmpleadoId"></select>
                <span asp-validation-for="EmpleadoId" class="text-danger"></span>
            </div>
                    <div class="row">
                        <div class="row row-cols-md-12">
                            @await Html.PartialAsync("_Mesas", Model.Mesas)
                        </div>
                    </div>
            <div class="form-group">
              <input type="submit" value="Editar" class="btn btn-secondary" />
                <a asp-action="Index" class="btn btn-dark">cancelar</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function mostrarVistaPrevia() {
            var input = document.getElementById('fileImagen');
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('imagenPrevia').src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]); // Convierte el archivo a una URL base64
            }
        }
    </script>
}
</div>
</div>