@model IEnumerable<T_Reservation.Models.Menu>

@{
    ViewData["Title"] = "Menu";
}
<div class="card"> <div class="card-body">
        <h1 div class="card-title text-center">🦐Menú🦐</h1>
</div>
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
       
    }
</div>

<div>
    <a asp-action="CatalogoRestaurante" class="btn btn-secondary">Regresar</a>

</div>

