@model IEnumerable<T_Reservation.Models.Restaurante>

@{
    ViewData["Title"] = "Restaurante";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">🍽️ Restaurantes 🍽️</h1>
    </div>
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <img class="rounded mx-auto d-block" src="data:image/jpg;base64,@(Convert.ToBase64String(item.Imagen))" width="200" height="200" />
                    <h5 class="text-center">@item.Nombre</h5>   

                 <div class="d-flex justify-content-center">
                        <a href="@Url.Action("VerMasR", new { id = item.Id })" class="btn btn-dark" >Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
    }
</div>

