@model IEnumerable<T_RESERVATION.EntidadesNegocio.Restaurante>

@{
    ViewData["Title"] = "Restaurante";
    
}

<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">🍽️ Restaurantes 🍽️</h1>

        <form asp-controller="Home" asp-action="CatalogoRestaurante">
            <p>
                Buscar: <input type="text" name="searchString" class="form-text" />
                <input type="submit" value="Buscar" class="btn btn-sm btn-dark"/>
            </p>
            </form>
    </div>
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <img class="rounded mx-auto d-block" src="data:image/jpg;base64,@(Convert.ToBase64String(item.Imagen))" width="200" height="200" />
                    <h5 class="text-center">@item.Nombre</h5>   

                 <div class="d-flex justify-content-center">
                        <a href="@Url.Action("VerMasR", new { id = item.IdRestaurante })" class="btn btn-dark">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
    }
</div>
