@model IEnumerable<T_RESERVATION.EntidadesNegocio.Menu>

@{
    ViewData["Title"] = "Menu";
    
}
<div class="card"> <div class="card-body">
        <h1 div class="card-title text-center">🦐Menú🦐</h1>
        <form asp-controller="Home" asp-action="CatalogoMenu">
            <p>
                Buscar: <input type="text" name="searchString" class="form-text" />
                <input type="submit" value="Buscar" class="btn btn-sm btn-dark"/>
            </p>
            </form>
</div>
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <img class="rounded mx-auto d-block" src="data:image/jpg;base64,@(Convert.ToBase64String(item.Imagen))" width="200" height="200" />
                    <h5 class="text-center">@item.Producto</h5>
                    <p class="text-center">
                        <strong>Nota Especial:</strong> @item.NotaEspecial <br />
                        <strong>Precio:</strong> @item.Precio <br />

                    </p>
                    <div class="d-flex justify-content-center">

                        <a href="@Url.Action("VerMas", new { id = item.Id })" class="btn btn-dark">Ver más</a>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

<div>
    <a asp-action="CatalogoRestaurante" class="btn btn-dark">Regresar</a>

</div>

